<div class="header">
    <div class="logo">
        <object data="" type="image/svg+xml" title="Logo" alt="Logo">
            <p>No SVG support, here's a substitute</p>
            <img src="" alt="Logo">
        </object>
    </div>
    <nav [class.scrolled]="isScrolled">
        <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#about">Sobre Mim</a></li>
          <li><a href="#skills">Skills</a></li>
          <li><a href="#projects">Projetos</a></li>
          <li><a href="#experiencias">Experiencias</a></li>
          <li><a href="#contact">Contato</a></li>
        </ul>
      </nav>
</div>

