<section id="skills">
    <div class="container">
        <div class="col-md-12">
            <div class="tooling-title"><h2>SKILLS</h2></div>      
        </div>
        <div class="skills-grid">
            <div class="skill-card csharp">
                <img src="" alt="c#">
                <span>C#</span>
            </div>
            <div class="skill-card netFreme">
                <img src="/assets/icons/cSharp.svg" alt=">net">
                <span>.Net Framework</span>
            </div>
            <div class="skill-card netcore">
                <img src="/assets/icons/cSharp.svg" alt=">net">
                <span>.Net Core/6+</span>
            </div>
            <div class="skill-card ef">
                <img src="/assets/icons/cSharp.svg" alt=">net">
                <span>Entity Framework</span>
            </div>
            <div class="skill-card api">
                <img src="" alt=">API">
                <span>APIs Rest</span>
            </div>
            <div class="skill-card">
                <i class="fa-brands fa-angular fa-2x"></i>
                <span>Angular</span>
            </div>
            <div class="skill-card">
                <i class="fi fi-brands-typescript"></i>
                <span>TypeScript</span>
            </div>
            <div class="skill-card">
                <i class="fi fi-brands-js"></i>
                <span>JavaScript</span>
            </div>
            <div class="skill-card">
                <i class="fa fa-server"  aria-hidden="true"></i>
                <span>SQL Serve</span>
            </div>
            <div class="skill-card mongo">
                <img src="" alt="MongoDB">
                <span>MongoDB</span>
            </div>
            <div class="skill-card postgree">
                <img src="/assets/icons/javascript.svg" alt="PostgreSQL">
                <span>PostgreSQL</span>
            </div>
            <div class="skill-card">
                <i class="fa-brands fa-docker fa-2x"></i>
                <span>Docker</span>
            </div>
            <div class="skill-card kubernetes">
                <i class="fa-solid fa-industry fa-2x"></i>
                <span>Service Bus</span>
            </div>
            <div class="skill-card">
                <i class="fa-brands fa-aws" style="font-size:28px"></i>
                <span>AWS</span>
            </div>           
            <div class="skill-card kubernetes">
                <img src="/assets/icons/typescript.svg" alt="Kubernetes">
                <span>Kubernetes</span>
            </div>
            <div class="skill-card azure">
                <img src="/assets/icons/solidity.svg" alt="Devops">
                <span>Azure Devops</span>
            </div>
            <div class="skill-card">
                <i class="fa-solid fa-cube fa-2x"></i>
                <span>TDD</span>
            </div>
            <div class="skill-card">
                <i class="fa-brands fa-git-alt fa-2x"></i>
                <span>GIT</span>
            </div>
            <div class="skill-card">
                <i class="fa-solid fa-gears fa-2x"></i> 
                <span>SOLID</span>
            </div>
            <div class="skill-card">
                <i class="fa fa-eraser" style="font-size:24px"></i>
                <span>Clean Code</span>
            </div>
            <div class="skill-card">
                <i class="fa-brands fa-unity fa-2x"></i> 
                <span>Unity 5</span>
            </div>
        </div>
    </div>
</section>

<section class="section">
   
  
    
  </section>