<div class="container">
    <div class=" home-inner">
      <div class="col-md-6 text-center text-md-start home-text">
        <h1>
            <div>
                <span class="word"> Seja </span>
                <span class="word"> bem-vindo(a) </span>
                <span class="wave"> 👋</span> 
                <span class="word"> ao portfólio de:</span>
            </div>        
          <span class="word name">Rafael Nunes dos Santos</span>
          <div class="tertiary-list">            
            <div class="content-tertiary anim"><p><span><i class="fa-solid fa-laptop-code"></i></span> WEB DEVELOPER</p></div>
            <div class="content-tertiary anim"><p><span><i class="fa-solid fa-server"></i> </span>DESENVOLVEDOR BACK-END</p></div>
            <div class="content-tertiary anim"><p><span><i class="fa-solid fa-graduation-cap"></i></span>ARQUITETURA DE SOFTWARE</p></div>
          </div>         
        </h1>
      </div>  
      <div class="home-image">
        <img width="400" height="400" src="assets/images/setup.png" alt="Imagem principal">        
      </div>
    </div>
  </div>