 <section id="sobre-mim" class="section">
    <div class="container">
        <div class="row sm-m-25px-b m-35px-b">
            <div class="col-md-12">
                <div class="tooling-title"><h2>SOBRE MIM</h2></div>
              
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-5 m-15px-tb">
                <p class="text-uppercase small">Desenvolvedor Back-end</p>
                <div class="about-me-img box-shadow">                    
                    <img src="assets/images/rafael.png" alt="image" >
                    <div class="nav social-icon">
                        <a href="https://www.linkedin.com/in/rafaelnunesdossantos/">
                            <i class="fab fa-linkedin-in" aria-hidden="true"></i>
                        </a>
                        <a href="https://wa.me/5519991856553">
                            <i class="fab fa-whatsapp" aria-hidden="true"></i>
                        </a>
                        <!-- <a href="https://www.facebook.com/davidson.simoes.3">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="https://twitter.com/DavidsonSimoes">
                            <i class="fab fa-twitter"></i>
                        </a>  -->
                    </div>
                </div>
            </div>
            <div class="col-lg-7 m-15px-tb">
                <div class="about-me">
                    <h4>Sou Rafael Nunes</h4>
                    <h6>
                        Desenvolvedor backend com 4 anos de experiência focada em criar soluções robustas e eficientes.
                    </h6>
                    <p>		
                        Especialista em .NET, tenho experiência sólida em construir sistemas escaláveis e 
                        integrar soluções logísticas complexas, como TMS e EDI. Minha jornada é marcada por entregar backends de alto desempenho, 
                        garantindo a confiabilidade e eficiência dos sistemas.
                    <br>
                        Apaixonado por tecnologia, estou sempre em busca de aprimorar minhas habilidades e desenvolver soluções que agreguem valor ao negócio.
                    </p>
                    <div class="row about-list">
                        <div class="col-md-6">
                            <div class="media">
                                <label>Nascimento</label>
                                <p>Junho/1993 🥳</p>
                            </div>
                            <div class="media">
                                <label>Idade</label>
                                <p>31 Anos</p>
                            </div>
                            <div class="media">
                                <label>Residência</label>
                                <p>Paulinia-SP</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="media">
                                <label>E-mail</label>
                                <p>davrafaelnunes&#64;gmail.com</p>
                            </div>
                            <div class="media">
                                <label>Telefone</label>
                                <p>
                                    <a href="https://wa.me/5519991856553">+55 19 991856553</a>
                                </p>
                            </div>
                            <div class="media">
                                <label>GitHub</label>
                                <p>
                                    <a href="https://github.com/rafaelnunes93">github.com/rafaelnunes93</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="btn-bar">
                        <a class="m-btn m-btn-theme" href="assets/images/CVRafael.pdf" download>Baixar Currículo</a>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</section>