
<div class="row sm-m-25px-b m-35px-b">
  <div class="col-md-12">
      <div class="tooling-title"><h2>Projetos</h2></div>
    
  </div>
</div>

<ul class="portfolio-filter-list white">
    <li><a href="javascript:void(0)" data-cat="*" class="active" (click)="filterProjects('*')">Todos</a></li>
    <li><a href="javascript:void(0)" data-cat="front" (click)="filterProjects('front')">Front</a></li>
    <li><a href="javascript:void(0)" data-cat="back" (click)="filterProjects('back')">Back</a></li>
    <li><a href="javascript:void(0)" data-cat="jogos" (click)="filterProjects('jogos')">Jogos</a></li>
    <!-- <li><a href="javascript:void(0)" data-cat="mobile" (click)="filterProjects('mobile')">Mobile</a></li> -->
  </ul>
  
  <div id="portfolio-items">
    <article class="back wide cargo">
      <img src="assets/images/cargo.png" alt="Front Project">
      <div class="overlay">
        <h3>Cargo Online</h3>
        <span>.Net 6+</span>
        <p>Plataforma TMS</p>
      </div>
    </article>
  
    <article class="front portifolio">
      <img src="assets/images/portifolio3.png" width="400px" alt="Front Site">
      <div class="overlay">
        <h3>Este Portfólio</h3>
        <span>ANGULAR</span>
      </div>
    </article>
  
    <article class="jogos tall">
      <img src="assets/images/fruitRain.jpg" alt="Game Project">
      <div class="overlay">
        <h3>Fruit Rain</h3>
        <span>Unity / C#</span>
      </div>
    </article>  
   
  
    <article class="back front big">
      <img src="assets/images/ups.jpg" alt="Big System">
      <div class="overlay">
        <h3>EDI UPS</h3>
        <span>.NET Framework / HTML / CSS / Javascript</span>
        <p>Sistema desenvolvido para integrar e gerenciar comunicações via EDI (Electronic Data Interchange) com a transportadora UPS. A aplicação permite o envio e recebimento automatizado de documentos eletrônicos, como pedidos, faturas e notificações de envio, garantindo maior agilidade e rastreabilidade nas operações logísticas. A interface web foi construída com HTML, CSS e JavaScript, enquanto o backend utiliza .NET Framework para processamento e integração com APIs e serviços da UPS.</p>
      </div>
    </article>
  
    <article class="jogos">
      <img src="assets/images/worthViking.png" width="400px" alt="Site">
      <div class="overlay">
        <h3>Worth Viking</h3>
        <span>Unity / C#</span>
      </div>
    </article>
  
    <article class="front back">
      <img src="assets/images/speed.jpeg" alt="Jogo Web">
      <div class="overlay">
        <h3>Speed Buyer site</h3>
        <span>API/.NET/ CSS /HTML</span>
      </div>
    </article>
   
  
    <article class="back tall">
      <img src="assets/images/FoodFy.png" alt="App">
      <div class="overlay">
        <h3>Foodfy</h3>
        <span>NODE JS</span>
      </div>
    </article>

    <article class="jogos">
      <img src="assets/images/infinit.png" alt="Mobile App">
      <div class="overlay">
        <h3>Infinite Bridge</h3>
        <span>Unity / C#</span>
        <p>Jogo desenvolvido na game engine Unity como projeto de curso aprendaUnity PRO</p>
      </div>
    </article>
  
    <article class="front">
      <img src="assets/images/academia.png" alt="Landing Page">
      <div class="overlay">
        <h3>Sistema Academia</h3>
        <span>HTML / CSS Node</span>
      </div>
    </article>
  </div>
  