<section id="projects">
  <div class="row sm-m-25px-b m-35px-b">
    <div class="col-md-12">
      <div class="tooling-title">
        <h2>Projetos</h2>
      </div>
    </div>
  </div>

  <div id="portfolio-items">
    <article>
      <img src="assets/images/cargo.png" alt="Cargo Online">
      <div class="overlay">
        <h3>Cargo Online</h3>
        <span>Plataforma TMS | .Net 8 </span>
      </div>
    </article>

    <article>
      <img src="assets/images/ups.jpg" alt="EDI UPS">
      <div class="overlay">
        <h3>EDI UPS</h3>
        <span>Plataforma EDI | .NET Framework / HTML / CSS / JavaScript </span>
      </div>
    </article>

    <article>
      <img src="assets/images/FoodFy.png" alt="Foodfy">
      <div class="overlay">
        <h3>Foodfy</h3>
        <span>Web App | NODE JS</span>
      </div>
    </article>

    <article>
      <img src="assets/images/AppShapeOn.png" alt="AppShapeOn">
      <div class="overlay">
        <h3>App ShapeOn</h3>
        <span>Mobile App | Flutter</span>
      </div>
    </article>

    <article>
      <img src="assets/images/chafManager.png" alt="Chef Manager">
      <div class="overlay">
        <h3>Chef Manager</h3>
        <span>Web App | Angular</span>
      </div>
    </article>

    <article>
      <img src="assets/images/worthViking.png" alt="Worth Viking">
      <div class="overlay">
        <h3>Worth Viking</h3>
        <span>Game | Unity 5/ C#</span>
      </div>
    </article>
  </div>
</section>